@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');

html,
body {
  min-width: 290px;
  font-family: 'Open Sans', Arial, sans-serif;
}

#navbar {
  position: fixed;
  min-width: 290px;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 100%;
  z-index: 1;
  border-right: solid;
  border-color: rgba(44, 47, 47, 0.4);
  background-color: rgba(180, 197, 197, 0.4);
}

#navbar ul {
  height: 88%;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

#navbar li {
  color: #111112;
  list-style: none;
  position: relative;
  width: 100%;
  font-size: 1.3rem;
}

#navbar a {
  display: block;
  padding: 10px 30px;
  color: #111112;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.3rem;
}

header {
  color: black;
  margin: 10px;
  text-align: center;
  font-size: 1.8em;
}

#main-doc header {
  text-align: left;
  margin: 0px;
}

#main-doc {
  position: absolute;
  top: 0;
  right: 0;
  margin-left: 310px;
  padding: 20px;
  margin-bottom: 110px;
  overflow-x: auto;
}

section article {
  margin: 15px;
  font-size: 0.96em;
}

p{
  font-size: 1.2rem;
  padding-left: 1rem;
  margin-bottom: 0;
}

h2{
  font-size: 1.3rem;
  padding-left: 1rem;
  margin-bottom: 0;
  padding-bottom: 0;
}

ul{
  font-size: 1.2rem;
  padding-left: 5rem;
  margin-top: 0.2rem;
}

table{
  margin: auto;
  padding: auto;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 0.8rem 1rem;
  font-size: 1.1rem;
}

code {
  display: block;
  text-align: left;
  white-space: pre-wrap;
  position: relative;
  word-break: normal;
  word-wrap: normal;
  background-color: #f7f7f7;
  padding: 0 30px;
  margin: 10px;
  border-radius: 5px;
}

.code{
  font-family: monospace;
  font-size: 1.1rem;
}


@media only screen and (min-width: 800px) and (max-width: 1000px) {
  #navbar {
    min-width: 200px;
    width: 250px;
  }

  #navbar li {
    font-size: 1.1rem;
  }

  #navbar a {
    padding: 8px 25px;
    font-size: 1.1rem;
  }

  header {
    margin: 8px;
    font-size: 1.6em;
  }

  #main-doc {
    margin-left: 260px;
    padding: 18px;
    margin-bottom: 100px;
  }

  section article {
    margin: 12px;
    font-size: 0.8em;
  }

  p{
    font-size: 1.1rem;
    padding-left: 1rem;
  }

  h2{
    font-size: 1.2rem;
    padding-left: 1rem;
  }

  ul{
    font-size: 1.1rem;
    padding-left: 5rem;
  }


  table, th, td {
    padding: 0.7rem 0.9rem;
    font-size: 1.05rem;
  }

  code {
    padding: 0 25px;
    margin: 8px;
    border-radius: 5px;
  }

  .code{
    font-size: 1.05rem;
  }
}



@media only screen and (min-width: 600px) and (max-width: 799px) {
  #navbar {
    min-width: 150px;
    width: 180px;
  }

  #navbar li {
    font-size: 1rem;
  }

  #navbar a {
    padding: 5px 15px;
    font-size: 1rem;
  }

  header {
    margin: 5px;
    font-size: 1.3em;
  }

  #main-doc {
    margin-left: 200px;
    padding: 12px;
    margin-bottom: 60px;
  }

  section article {
    margin: 9px;
    font-size: 0.6em;
  }

  p{
    font-size: 1rem;
    padding-left: 0.8rem;
  }

  h2{
    font-size: 1.1rem;
    padding-left: 0.8rem;
  }

  ul{
    font-size: 1rem;
    padding-left: 3rem;
  }


  table, th, td {
    padding: 0.6rem 0.7rem;
    font-size: 0.95rem;
  }

  code {
    padding: 0 15px;
    margin: 5px;
    border-radius: 5px;
  }

  .code{
    font-size: 0.95rem;
  }
}


@media only screen and (min-width: 250px) and (max-width: 599px) {
  #navbar {
    min-width: 100px;
    width: 105px;
  }

  #navbar li {
    font-size: 0.6rem;
  }

  #navbar a {
    padding: 1px 5px;
    font-size: 0.6rem;
  }

  header {
    margin: 1px;
    font-size: 1em;
  }

  #main-doc {
    position: relative;
    margin-left: 110px;
    /* margin-left: 130px; */
    padding: 2px;
    margin-bottom: 20px;
  }

  section article {
    margin: 3px;
    font-size: 0.4em;
  }

  p{
    font-size: 0.6rem;
    padding-left: 0.4rem;
  }

  h2{
    font-size: 1rem;
    padding-left: 0.4rem;
  }

  ul{
    font-size: 0.6rem;
    padding-left: 1rem;
  }


  table, th, td {
    padding: 0;
    font-size: 0.55rem;
  }

  code {
    padding: 0 5px;
    margin: 2px;
    border-radius: 5px;
  }

  .code{
    font-size: 0.55rem;
  }
}
